@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Thambi 2", cursive;
}

h1,
h2,
p,
td {
  color: #fff;
}

body {
  background-image: url("./logos/The\ Walrus\ Logo\ \(2\).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-color: #000;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.children-container {
  flex: 1;
}

.logBtn {
  width: 300px;
  height: 5vh;
  margin: 5px;
  font-weight: 700;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logBtn:active {
  transform: translateY(4px);
}

.logForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logInput {
  width: 300px;
  padding: 10px;
  margin: 5px;
  background-color: white;
}

.logOutBtn {
  border-radius: 4px;
  background: #01bf71;
  white-space: nowrap;
  padding: 10px 22px;
  color: 010606;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.logOutBtn:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #01bf71;
}

.logOutBtn:active {
  transform: translateY(4px);
}

.footer {
  width: 100%;
  background-color: black;
  color: white;
  text-align: right;
}

.bookings {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
}

.bookings label {
  text-align: center;
  color: darkgoldenrod;
}

.bookingBut {
  color: darkgoldenrod;
  background-color: black;
  border-color: darkgoldenrod;
}

.bookingBut:active {
  transform: translateY(4px);
}

.bookingInp {
  width: 20%;
  text-align: center;
  margin: 0 auto;
  color: darkgoldenrod;
  background-color: black;
  border-color: darkgoldenrod;
}

/* .meal {
  position: absolute;
  color: darkgoldenrod;
  top: 10%;
  right: 40%;
  width: 30%;
} */

.tables {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.tablePics {
  height: 300px;
}

.navbar {
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
  height: 7vh;
  margin-top: 10px;
  position: sticky;
}
.navlink {
  color: white;
  text-decoration: none;
  font-size: 30px;
  justify-content: space-between;
  margin: 40px;
  padding: 2px;
}

.navlink:hover {
  color: orange;
  transition: 0.7s ease-in-out;
  font-size: 28px;
}

.navBtn {
  border-radius: 50px;
  background: orange;
  white-space: nowrap;
  padding: 10px 22px;
  color: black;
  font-size: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-weight: 700;
}

.navBtn:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: red;
}

.navBtn:active {
  transform: translateY(4px);
}

table,
thead,
.td-border {
  border: 1px solid #a69658;
  background: #000;
}

table {
  margin: 0 auto;
}

thead {
  font-weight: 2rem;
  font-size: 20px;
  word-spacing: 5px;
  letter-spacing: 3px;
}

td {
  width: 150px;
}

.items-table {
  box-sizing: border-box;
  margin-top: 10px;
}

.menuBtn {
  width: 150px;
  background-color: darkgoldenrod;
  margin: 5px;
  cursor: pointer;
  color: #000;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 300;
}

.menuBtn:hover {
  background-color: #fff;
  color: red;
  transition: all 0.2s ease-in;
}

.menuBtn:active {
  transform: translateY(4px);
}

.mealBtn {
  width: 120px;
  height: 5vh;
  margin: 5px;
  font-weight: 700;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: darkgoldenrod;
  color: black;
}

.mealBtn:hover {
  background: #fff;
  color: rgb(255, 166, 0);
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.mealBtn:active {
  transform: translateY(4px);
}

.lunchOrDinner {
  position: absolute;
  top: 13%;
  right: 45%;
}
.lunch {
  position: absolute;
  top: 20%;
  right: 52%;
}

.dinner {
  position: absolute;
  top: 20%;
  right: 38%;
}

.paidBtn {
  color: #000;
  background-color: orange;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 22px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 10px;
  width: 100px;
}

.paidBtn:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: red;
}

.closeTabOrder {
  color: #000;
  background-color: orange;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 22px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.closeTabOrder:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: red;
}

.plusBtn {
  color: #000;
  background-color: orange;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  height: 30px;
  width: 30px;
}
.plusBtn:hover {
  background: #fff;
  color: red;
}
.minusBtn {
  color: #000;
  background-color: orange;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  height: 30px;
  width: 30px;
}
.minusBtn:hover {
  background: #fff;
  color: red;
}

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  opacity: 0.9;
  border: 1px solid #a0a096;
  line-height: 1.125em;
  position: relative;
  left: 5%;
  border-radius: 5px;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: darkgoldenrod;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: darkgoldenrod;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
